<!--
  ~ 안병길
  ~ Whya5448@gmail.com
  ~ https://gitlab.com/whya5448/rediret.me
  ~ Copyright (c) 2017.
  -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/rediretMe.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="/static/rediretMe.js" type="text/javascript"></script>
    <title>Rediret.me</title>
</head>
<body>
<header th:replace="fragments/header :: header">
    <p>This is default header area for default layout</p>
</header>
<div id="container" class="container">
    <div class="content" style="margin-top:100px;" layout:fragment="content">
        <p th:text="${'Hello ' + name + '!'}"></p>
        <p>This is default main content with default layout</p>
    </div>
</div>
<footer th:replace="fragments/footer :: footer">
    <p>This is default footer area for default layout</p>
</footer>
</body>
</html>