<!DOCTYPE html>
<!--
  ~ 안병길
  ~ Whya5448@gmail.com
  ~ https://gitlab.com/whya5448/rediret.me
  ~ Copyright (c) 2017.
  -->

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="layout/default">
<head>
    <style type="text/css">
        .view-password {
            pointer-events: all;
        }
    </style>
    <script type="text/javascript">
        //<![CDATA[
        $(function () {
            $("span.view-password").hover(function (e) {
                $(this).toggleClass("glyphicon-eye-close").prev("input").attr("type", e.type == "mouseenter" ? "text" : "password");
            });
        });
        //]]>
    </script>
</head>
<div class="container" layout:fragment="content">
    <div style="margin-top: 100px;">
        <form class="form-horizontal" method="post" th:action="@{/signin}">
            <div class="form-group">
                <div id="error-anchor" class="col-sm-offset-4 col-sm-4">
                    <h1>Done.</h1>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <p>Your account is successfully registered.</p>
                    <p>Your E-mail : <strong th:text="${param.email[0]}"></strong></p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <a th:href="@{/sign/in?email=}+${param.email[0]}">
                        <button type="button" class="btn btn-default">Sign in</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
</html>