<!DOCTYPE html>
<!--
  ~ 안병길
  ~ Whya5448@gmail.com
  ~ https://gitlab.com/whya5448/rediret.me
  ~ Copyright (c) 2017.
  -->

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="layout/default">
<head>
    <style type="text/css">
        .view-password {
            pointer-events: all;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $("span.view-password").hover(function (e) {
                $(this).toggleClass("glyphicon-eye-close").prev("input").attr("type", e.type == "mouseenter" ? "text" : "password");
            });
            $("#btn_sign_in").click(function () {
                $doSignIn();
            });
            $("#id_password, #id_email").keydown(function (e) {
                if (e.keyCode == 13) $doSignIn();
            });

            $doSignIn = function () {
                if (!$r.isemail($("#id_email").val())) {
                    $("#error-anchor").append($r.show($r.alertDanger("Email address not valid")));
                    return;
                }
                if (!$r.minlength($("#id_password").val(), 6)) {
                    $("#error-anchor").append($r.show($r.alertDanger("Password too short")));
                    return;
                }
                $.post("", $("#form").serialize(), function (data) {
                    if ($r.isOK(data)) window.location.href = data.redirectTo;
                    else $("#error-anchor").append($r.show($r.alertDanger(data.message)));
                });
            }

        });
    </script>
</head>
<div class="container" layout:fragment="content">
    <div>
        <form id="form" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <h1>Sign in</h1>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <label for="id_email" class="control-label">Email</label>
                    <input name="email" type="email" class="form-control" id="id_email" th:value="${param.email} ? ${param.email[0]} : _" th:disabled="${param.email}"/>
                    <p class="text-danger error-anchor"></p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4 has-feedback">
                    <label for="id_password" class="control-label">Password</label>
                    <input name="password" type="password" class="form-control" id="id_password" />
                    <span class="glyphicon glyphicon-eye-open form-control-feedback view-password"></span>
                    <p class="text-danger error-anchor"></p>
                </div>
            </div>
            <!--
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"/> Remember me
                        </label>
                    </div>
                </div>
            </div>
            -->
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4 text-right">
                    <a th:href="@{/sign/google}">
                        <button id="btn_google" type="button" class="btn btn-default">Google</button>
                    </a>
                    <button id="btn_sign_in" type="button" class="btn btn-primary">Sign in</button>
                </div>
            </div>
            <div id="error-anchor" class="col-sm-offset-4 col-sm-4"/>
        </form>
    </div>
</div>
</html>