<!DOCTYPE HTML>

<!--
  ~ 안병길
  ~ Whya5448@gmail.com
  ~ https://gitlab.com/whya5448/rediret.me
  ~ Copyright (c) 2017.
  -->

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<header layout:fragment="header">
    <div id="header" class="navbar navbar-default"> <!-- navbar-static-top navbar-inverse -->
        <div class="container-fluid">
            <div class="navbar-header">
                <!--브라우저가 좁아졌을때 나오는 버튼(클릭시 메뉴출력)-->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">rediret.me</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a th:href="@{/links}">Links</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <span class="caret"></span>
                        </a>
                        <ul sec:authorize="!isAuthenticated()" class="dropdown-menu" role="menu">
                            <li><a th:href="@{/sign/in}">Sign in</a></li>
                            <li><a th:href="@{/sign/up}">Sign up</a></li>
                            <li class="divider"></li>
                            <li><a href="#">About</a></li>
                        </ul>
                        <ul sec:authorize="isAuthenticated()" class="dropdown-menu" role="menu">
                            <li><a sec:authentication="name"></a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/sign/out}">Sign out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
</html>