<!DOCTYPE html>
<!--
  ~ 안병길
  ~ Whya5448@gmail.com
  ~ https://gitlab.com/whya5448/rediret.me
  ~ Copyright (c) 2017.
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default">
<head>
    <script type="text/javascript" th:inline="javascript">
        $(function () {
            const $urlWarn = $("#urlWarn");
            const host = [[${@environment.getProperty('rediret.me.host')}]];

            $selectText = function (element) {
                var doc = document;
                var text = doc.getElementById(element);

                if (doc.body.createTextRange) { // ms
                    var range = doc.body.createTextRange();
                    range.moveToElementText(text);
                    range.select();
                } else if (window.getSelection) { // moz, opera, webkit
                    var selection = window.getSelection();
                    var range = doc.createRange();
                    range.selectNodeContents(text);
                    selection.removeAllRanges();
                    selection.addRange(range);
                }
            }

            $urlWarn.on("click", function () {
                $r.hide($("#urlWarn"))
            });

            $("#url").on("keydown", function (e) {
                if (e.keyCode == 13) $save();
            });
            $("#save").on("click keydown", function (e) {
                if (e.type === "keydown" && e.keyCode !== 13) return;
                $save();
            });

            $save = function () {

                var regex = /^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/i;
                var longUrl = $('#url').val();
                if (!regex.test(longUrl)) {
                    $r.show($("#urlWarn"));
                    return false;
                }

                $.post("/url/save", "longUrl=" + encodeURIComponent(longUrl), function (data) {
                    if ($r.isOK(data)) {
                        let dom;
                        let href = location.origin + "/" + data.url.shortUrl;
                        let range = document.createRange();
                        let sel = document.getSelection();
                        $r.show(dom = $r.alertSuccess("<div><text class='main'>" + data.url.longUrl + "</text><text> => <strong><a href=\"" + href + "\">" + href + "</a></string></text></div>")).insertAfter($urlWarn);
                        range.selectNodeContents(dom.find("strong")[0]);
                        sel.removeAllRanges();
                        sel.addRange(range);
                    } else if ($r.isTooManyRequests(data) || data.message) $r.show($r.alertDanger(data.message)).insertAfter($urlWarn);

                })
            };
        });
    </script>
</head>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center" th:text="#{main.title}"></h1>
        </div>
    </div>
    <div id="url-form-group" class="form-group col-md-8 col-md-offset-2">
        <div class="form-group">
            <div class="input-group">
                <input id="url" type="text" class="form-control" th:placeholder="#{main.urlshortener.placeholder}" autofocus="autofocus" tabindex="1"/>
                <div id="save" class="input-group-addon" tabindex="2">
                    <strong th:text="#{main.urlshortener.button}"/>
                </div>
            </div>
        </div>
        <div id="urlWarn" class="alert alert-danger hide" role="alert">
            <button id="urlWarnClose" type="button" class="close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <span th:text="#{main.urlunable}"/>
        </div>
    </div>
</div>
</html>