/*
 * 안병길
 * Whya5448@gmail.com
 * https://gitlab.com/whya5448/rediret.me
 * Copyright (c) 2017.
 */

div.alert text.main {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 30em;
    float: left;
}

#tbl_links td:first-child {
    max-width: 24.28em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

table.tr-hover tr:not(.th):hover {
    transition-duration: .28s;
    background-color: rgb(238, 238, 238);
}

button.button-link {
    border: 0;
    background-color: transparent;
}

.hide2 {
    opacity: 0;
}

table.tr-hover tr:not(.th):hover td span.hide2 {
    opacity: 1;
}

body {
    /* https://www.pexels.com/photo/architecture-baroque-building-cathedral-217249/ */
    background-image: url('/static/pexels-photo-217249.jpg');
}

tr.clickable th,
li a {
    cursor: pointer;
}

#header {
    width: 100%;
    position: fixed;
}

/* 매우 작은 기기들 (모바일폰, 768px 보다 작은) */
/* 부트스트랩에서 이것은 기본이므로 미디어쿼리가 없습니다. */

h1 {
    font-size: 2.2em;
}

/* 작은 기기들 (태블릿, 768px 이상) */
@media (min-width: 768px) {

    h1 {
        font-size: 4.5em;
    }

    .navbar-default {
        background-color: rgba(0, 0, 0, 0);
        border-color: rgba(0, 0, 0, 0);
    }

    .navbar-default .navbar-brand,
    .navbar-default .navbar-nav > li > a {
        color: #fff;
    }

}

body {
    /* overflow-y: hidden; */
}

#url-form-group {
    padding-top: 100px;
}

#url {
    height: 80px;
    font-size: 40px;
    padding-left: 20px;
}

#save {
    cursor: pointer;
    background-color: #ee6123;
}

#save > strong {
    color: white;
}

.pagination.no-margin {
    margin: 0;
}

